body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.simon {
    width: 400px;
    height: 400px;
    background: url("../assets/images/simonBg.png");
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.key {
    width: 200px;
    height: 200px;
}

.start-btn{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 218px;
    left: 210px;
    border-radius: 20px;
    /* background: #d64997; */
    z-index: 2;
    cursor: pointer;
}